:root {
    --text-color: black;
    --tint-color: rgba(255, 255, 255, 0.9);
    --background: beige;
    --background-code: hsl(120, 1%, 19.4%);
    --border-code: hsl(0, 0%, 26.7%);
    --code-color: hsl(180, 6.9%, 84.5%);
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
    :root {
        --background: color(display-p3 0.808 0.805 0.858 / 1);
        --text-color: color(display-p3 0 0 0 / 1);
        --tint-color: color(display-p3 1 1 1 / 0.9);
        --background-code: hsl(120, 1%, 19.4%);
        --border-code: hsl(0, 0%, 26.7%);
        --code-color: hsl(180, 6.9%, 84.5%);
    }
}

html {
    font-family:
        San Francisco,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;
    background-color: color(var(--background));
    color: color(var(--text-color));
    font-size: 1.1rem;
    line-height: 1.4;
    overflow-x: hidden;
    min-height: 100svh;
    display: flex;
    width: 100%;
    flex: 1;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    flex: 1;
}

article {
    width: 640px;
    font-size-adjust: 0.47;
    margin-trim: block;
    padding: 2rlh;
}

h1 {
    font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
        serif;
    font-size: 2rem;
    line-height: 1.2;
}

h1,
p {
    margin-block: 1rlh;
}

pre {
    background-color: var(--background-code);
    border-color: var(--border-code);
    color: var(--code-color);
    border-radius: 4px;
    margin-trim: block;
    text-align: left;
    padding: 0px 1.4rem;
}

code {
    font-family: Menlo, monospace;
    background-color: var(--background-code);
    border-color: var(--border-code);
    color: var(--code-color);
    border-radius: 3px;
    font-size: 0.9rem;
}
